<%- include('header'); -%>

  <div class="container">
    <div class="row"><h1>display random quote?</h1></div>
    <div class="row">
      <form action="/note/<%= id %>?_method=DELETE" method="POST">
        <input class="btn btn-danger" type="submit" value="Delete?" />
      </form>
    </div>
    <div class="row">
      <form action="/note/:id" method="POST">
        <input type="text" id="identifier" name="identifier" value="<%= identifier %>" required /><br>
        <input type="text" id="title" name="title" value="<%= title %>" required /><br>
        <textarea id="content" name="content" placeholder="content" rows=12 cols=60><%= content %></textarea><br>
        <input type="text" id="tags" name="tags" value="Tags" /><br>
        <input type="text" id="links" name="links" value="links" /><br>
        <!-- Use CSS to block out this... this is for the POST form-->
        <input type="number" id="note_id" name="note_id" value="<%= id %>" hidden /><br>
        <!-- to block out... used 'hidden' attribute instead! -->
        <input type="submit" value="Update!" />
      </form>
    </div>
    <br>
    <br>
    <div class="row"><a class="btn btn-outline-warning" href="/">Back to dashboard...</a></div>
  </div>

<%- include('footer'); -%>